#topBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 35px; /* Place the button at the bottom of the page */
  right: 60px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
}


/*
 * This makes a div clickable like an <a> tag
 *
 * USE:
 * <a href="#">
 *  <span class="link-spanner-div-click"></span>
 * </a>
 */
.link-spanner-div-click {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;

}


/*
** These styles define the hover and transform (zoom) for the repo cards
*/
.custom-repo-hover {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}
.custom-repo-hover img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}
.custom-repo-hover:hover img {
    -webkit-transform:scale(1.17); /* Safari and Chrome */
    -moz-transform:scale(1.17); /* Firefox */
    -ms-transform:scale(1.17); /* IE 9 */
    -o-transform:scale(1.17); /* Opera */
    transform:scale(1.17);
}


/*
** These styles define the positioning of the div that appears over the repo cards with the name of the repo
*/
.repo-name {
  /* margin-top: -45px; */
  margin: auto;
  position: absolute;
  bottom: 0%;
  background-color: rgba(0,0,0,0.61);
  width: 348px;
  border-radius: 0px 0px 10px 10px;
  /* z-index: */
}
.repo-name h2 {
  color: #eee;
  padding-left: 5px;
}


.text-primary {
  color: #984447 !important;
}

a {
  color: #984447;
}

a:hover, a:focus, a:active {
  color: #824027;
}
