{% extends 'blog/index.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
<title>Blog: Create Post</title>
{% endblock %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumb %}
    {{ block.super }}
    {% breadcrumb "Create Post" "blog:create_post" %}
{% endblock %}


{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-md-10 blog-main load-hidden">
          <h2>New Post</h2>
        <form method="POST" class="post-form">
            {% csrf_token %}
            <div class="blog-post">
              {{ form.title.label_tag }}
              {{ form.title }}
              <div class="form-group">
                {{ form.body.label_tag }}
                {{ form.body|add_class:"blog-textarea" }}
              </div>
            </div><!-- /.blog-post -->
            <button type="submit" class="save btn btn-primary">Post</button>
            <a href="{% url 'blog:index' %}" class="btn btn-secondary">Cancel</a>
        </form>
        </div><!-- /.blog-main -->

      </div><!-- /.row -->

    </div><!-- /.container -->

{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
  ScrollReveal().reveal('.blog-main', { delay: 500, duration: 700, easing: 'ease-in-out' });
</script>
{% endblock %}
