{% extends 'blog/index.html' %}
{% load static %}
{% load widget_tweaks %}


{% block content %}

<main role="main" class="container">
  <div class="row">
    <div class="col-md-10 blog-main">
      <h2>Edit post</h2>
    <form method="POST" class="post-form">
        {% csrf_token %}
        <div class="blog-post">
          {{ form.title.label_tag }}
          {{ form.title }}
          <div class="form-group">
            {{ form.body.label_tag }}
            {{ form.body|add_class:"blog-textarea" }}
          </div>
        </div><!-- /.blog-post -->
        <button type="submit" class="save btn btn-default">Save</button>
        <a href="{% url 'blog:view-post' slug=specific_blog.slug %}" class="btn btn-outline-primary">Cancel</a>
    </form>
    </div><!-- /.blog-main -->

  </div><!-- /.row -->

</main><!-- /.container -->

{% endblock %}
