{% extends 'blog/index.html' %}
{% load static %}


{% block title %}
<title>Blog</title>
{% endblock %}


{% load django_bootstrap_breadcrumbs %}
{% block breadcrumb %}
    {{ block.super }}
    {% breadcrumb "View Post" "blog:view_post" %}
{% endblock %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col blog-post-reveal load-hidden">
      <div class="mb-5">
        <h2 class="display-4 blog-post-title">{{ specific_blog.title }}</h2>
        <h3 class="blog-post-meta">By: {{ specific_blog.author_id|capfirst }}</h3>
        <p class="blog-body">{{ specific_blog.body }}</p>
      </div>
      {% if user.is_authenticated %}
        <a href="{% url 'blog:edit_post' slug=specific_blog.slug %}" class="btn btn-primary">Edit post</a>
        <a href="{% url 'blog:index' %}" class="btn btn-secondary">Back to Blog</a>
      {% else %}
        <a href="{% url 'blog:index' %}" class="btn btn-primary">Back to Blog</a>
      {% endif %}
    </div>
  </div>

</div>


{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
  ScrollReveal().reveal('.blog-post-reveal', { delay: 500, duration: 700, easing: 'ease-in-out' });
</script>
{% endblock %}
