{% extends 'blog/index.html' %}
{% load static %}

{% block title %}
<title>Blog</title>
{% endblock %}

{% block content %}
<main role="main" class="container">
  <div class="row">
    <div class="col-md-10 blog-main">
      <div class="blog-post">
        <h2 class="blog-post-title">{{ specific_blog.title }}</h2>
        <p class="blog-post-meta">{{ specific_blog.author_id }}</p>

        <div class="form-group">
          <textarea class="form-control blog-textarea">{{ specific_blog.body }}</textarea>
        </div>

        <!-- make button of course -->
        {% if user.is_authenticated %}
          <a href="{% url 'blog:edit-post' slug=specific_blog.slug %}" class="btn btn-primary">Edit post</a>
        {% endif %}
      </div><!-- /.blog-post -->

    </div><!-- /.blog-main -->

  </div><!-- /.row -->

</main><!-- /.container -->

{% endblock %}
