{% extends 'registration/registration_base.html' %}
{% load static %}

{% block title %}
<title>Change Password</title>
{% endblock %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

{% block content %}
<form method="post" action="{% url 'password_change' %}">
{% csrf_token %}
{{ form }}
<input type="submit" value="Change password">
<input type="hidden" name="next" value="{{ next }}">
</form>

{% endblock %}
