{% extends 'homepage/base.html' %}
{% load static %}

{% block title %}
<title>Password Reset</title>
{% endblock %}

{% block content %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'password_reset' %}">
{% csrf_token %}
{{ form }}
<input type="submit" value="Reset">
<input type="hidden" name="next" value="{{ next }}">
</form>

{% endblock %}
