{% extends 'homepage/base.html' %}
{% load static %}

{% block title %}
<title>Reset Confirm</title>
{% endblock %}

{% block content %}
  {% if validlink %}
    <h3>Change password</h3>
    <form method="post" action="{% url 'password_reset_confirm' %}">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Submit">
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}
