{% extends 'my_cv/index.html' %}
{% load static %}

{% block title %}
<title>Experience Home</title>
{% endblock %}

{% block favicon %}
{% endblock %}

{% block app_stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'my_cv/css/my_cv.css' %}">
{% endblock %}


{% load django_bootstrap_breadcrumbs %}
{% block breadcrumb %}
    {{ block.super }}
    {% breadcrumb "Experience and Outreach" "my_cv:experience_outreach_index" %}
{% endblock %}


{% block content %}

<div class="container mt-5">
  <div class="row mb-4 justify-content-center experience-header-reveal load-hidden">
    <h1>All Experience and Outreach</h1>
  </div>
  <div class="row experience-reveal load-hidden">
    {% for object in outreach_or_current %}
      <div class="d-flex align-items-stretch col-xs-12 col-md-6 col-lg p-2">
        <div class="card mb-4 custom-resume-education-hover">
          <div class="card-body">
            <h3 class="card-text">Position title: {{ object.position_title }}</h3>
            <h4 class="card-text">Location: {{ object.location }}</h4>
            <h4 class="card-text">Description: {{ object.description }}</h4>
            <h4 class="card-text">Start date: {{ object.start_date|date:"F j, Y" }}</h4>
            {% if object.end_date is not None %}
              <h4 class="card-text">End date: {{ object.end_date|date:"F j, Y" }}</h4>
            {% endif %}
            <a href="{{ object.get_absolute_url }}">
              <span class="link-spanner-div-click"></span>
            </a>
          </div>
        </div>
      </div>
    {% empty %}
      <p>No experience information available at this time</p>
    {% endfor %}
  </div>
</div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
  ScrollReveal().reveal('.experience-header-reveal', { delay: 500, duration: 700, easing: 'ease-in-out', useDelay: 'onload' });
  ScrollReveal().reveal('.experience-reveal', { delay: 750, duration: 700, easing: 'ease-in-out', useDelay: 'onload' });
</script>

{% endblock %}
