{% extends 'my_cv/index.html' %}
{% load static %}

{% block title %}
<title>Experience Home</title>
{% endblock %}

{% block favicon %}
{% endblock %}

{% block app_stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'my_cv/css/my_cv.css' %}">
{% endblock %}


{% load django_bootstrap_breadcrumbs %}
{% block breadcrumb %}
    {{ block.super }}
    {% breadcrumb "Experience and Outreach" "my_cv:experience_outreach_index" %}
{% endblock %}


{% block content %}

<div class="container mt-5">
  <div class="row mb-4 justify-content-center experience-header-reveal load-hidden">
    <h1>All Experience and Outreach</h1>
  </div>
  {% if all_experience %}
    <div class="row experience-reveal load-hidden">
      {% for object in all_experience %}
        {% if all_experience|length == 1 %}
          <div class="row my-2 justify-content-center">
            <div class="col-xs-12">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-text">Position title: {{ object.position_title }}</h3>
                  <h4 class="card-text">Location: {{ object.location }}</h4>
                  <h4 class="card-text">Description: {{ object.description }}</h4>
                  <h4 class="card-text">Start date: {{ object.start_date|date:"F j, Y" }}</h4>
                  {% if object.end_date is not None %}
                    <h4 class="card-text">End date: {{ object.end_date|date:"F j, Y" }}</h4>
                  {% endif %}
                  <a href="{{ object.get_absolute_url }}">
                    <span class="link-spanner-div-click"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        {% else %}
          {% if forloop.counter0|divisibleby:"2" or forloop.first is True %}
            <div class="row my-2">
              <div class="d-flex align-items-stretch col-xs-12 col-lg-6">
                <div class="card">
                  <div class="card-body">
                    <h3 class="card-text">Position title: {{ object.position_title }}</h3>
                    <h4 class="card-text">Location: {{ object.location }}</h4>
                    <h4 class="card-text">Description: {{ object.description }}</h4>
                    <h4 class="card-text">Start date: {{ object.start_date|date:"F j, Y" }}</h4>
                    {% if object.end_date is not None %}
                      <h4 class="card-text">End date: {{ object.end_date|date:"F j, Y" }}</h4>
                    {% endif %}
                    <a href="{{ object.get_absolute_url }}">
                      <span class="link-spanner-div-click"></span>
                    </a>
                  </div>
                </div>
              </div>
          {% else %}
              <div class="d-flex align-items-stretch col-xs-12 col-lg-6">
                <div class="card">
                  <div class="card-body">
                    <h3 class="card-text">Position title: {{ object.position_title }}</h3>
                    <h4 class="card-text">Location: {{ object.location }}</h4>
                    <h4 class="card-text">Description: {{ object.description }}</h4>
                    <h4 class="card-text">Start date: {{ object.start_date|date:"F j, Y" }}</h4>
                    {% if object.end_date is not None %}
                      <h4 class="card-text">End date: {{ object.end_date|date:"F j, Y" }}</h4>
                    {% endif %}
                    <a href="{{ object.get_absolute_url }}">
                      <span class="link-spanner-div-click"></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  {% else %}
    <div class="row experience-reveal load-hidden justify-content-center">
      <div class="alert alert-info" role="alert">No experience information available at this time</div>
    </div>
  {% endif %}
</div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
  ScrollReveal().reveal('.experience-header-reveal', { delay: 500, duration: 700, easing: 'ease-in-out', useDelay: 'onload' });
  ScrollReveal().reveal('.experience-reveal', { delay: 750, duration: 700, easing: 'ease-in-out', useDelay: 'onload' });
</script>

{% endblock %}
