{% extends 'my_cv/experience_outreach_index.html' %}
{% load static %}

{% block title %}
<title>Experience Detail</title>
{% endblock %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumb %}
    {{ block.super }}
    {% breadcrumb opportunity.name "my_cv:experience_outreach_detail_view" %}
{% endblock %}


{% block content %}

<div class="container mt-5">
  <div class="row mb-4 justify-content-center opportunity-heading-reveal load-hidden">
    <h1>{{ opportunity.name }}</h1>
  </div>
  <div class="row my-cv opportunity-reveal load-hidden">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-text">Position title: {{ opportunity.position_title }}</h3>
          <h5 class="card-text">Experience: {{ opportunity.name }}</h5>
          <h5 class="card-text">Location: {{ opportunity.location }}</h5>
          <h5 class="card-text">Start date: {{ opportunitye.start_date|date:"F j, Y" }}</h5>
          {% if opportunity.end_date is not None %}
            <h5 class="card-text">End date: {{ opportunity.end_date|date:"F j, Y" }}</h5>
          {% endif %}
          <p class="card-text">Description: {{ opportunity.description }}</p>
          {% if opportunity.url %}
            <div class="btn-group">
              <a href="{{ opportunity.url }}" target="_blank" class="btn btn-secondary">View Website</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
  ScrollReveal().reveal('.opportunity-heading-reveal', { delay: 500, duration: 700, easing: 'ease-in-out', useDelay: 'onload' });
  ScrollReveal().reveal('.opportunity-reveal', { delay: 750, duration: 700, easing: 'ease-in-out', useDelay: 'onload' });
</script>

{% endblock %}
