
{% if current_resume %}
  <div class="row mb-4 justify-content-center">
    <h1>{{ current_resume.resume_name }}</h1>
  </div>
  <div class="container mt-3 tab-content" id="nav-tabContent">
    <div class="col-4 offset-md-4 mb-5">
      <div class="list-group text-center" id="list-tab" role="tablist" style="font-size: 1.2rem;">
        {% if current_resume.description %}
          <a class="list-group-item list-group-item-action" id="list-description-list" data-toggle="list" href="#list-description" role="tab" aria-controls="description">Description</a>
        {% endif %}
        {% if current_resume.education.count > 0 %}
          <a class="list-group-item list-group-item-action" id="list-education-list" data-toggle="list" href="#list-education" role="tab" aria-controls="education">Education</a>
        {% endif %}
        {% if current_resume.experience.count > 0 %}
          <a class="list-group-item list-group-item-action" id="list-experience-list" data-toggle="list" href="#list-experience" role="tab" aria-controls="experience">Experience</a>
        {% endif %}
        {% if current_resume.personal_links.count > 0 %}
          <a class="list-group-item list-group-item-action" id="list-personal-links-list" data-toggle="list" href="#list-personal-links" role="tab" aria-controls="personal-links">Personal Links</a>
        {% endif %}
        {% if current_resume.skills %}
          <a class="list-group-item list-group-item-action" id="list-skills-list" data-toggle="list" href="#list-skills" role="tab" aria-controls="skills">Skills</a>
        {% endif %}
        {% if current_resume.interests %}
          <a class="list-group-item list-group-item-action" id="list-interests-list" data-toggle="list" href="#list-interests" role="tab" aria-controls="interests">Interests</a>
        {% endif %}
        {% if current_resume.resume %}
          <a class="list-group-item list-group-item-action" href="{% url 'my_cv:resume_download_view' current_resume.slug current_resume.id current_resume.resume.name %}">Download CV!</a>
        {% endif %}
      </div>
    </div>

    {% if current_resume.description %}
      <div class="tab-pane fade" id="list-description" role="tabpanel" aria-labelledby="list-description-list">
        <div class="row justify-content-center">
          <h1>Description</h1>
        </div>
        <div class="row my-1 justify-content-center">
          <div class="col-xs-12 col-lg-6">
            <div class="card">
              <div class="card-body">
                <h4 class="card-text">{{ current_resume.description }}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    
    {% if current_resume.education.count > 0 %}
      <div class="tab-pane fade" id="list-education" role="tabpanel" aria-labelledby="list-education-list">
        <div class="row justify-content-center">
          <h1>Education</h1>
        </div>
          {% for education in current_resume.education.all %}
            {% if current_resume.education.count == 1 %}
              <div class="row my-2 justify-content-center">
                <div class="col-xs-12">
                  <div class="card">
                    <div class="card-body">
                      <h3 class="card-text">Institution: {{ education.name }}</h3>
                      <h4 class="card-text">Location: {{ education.location }}</h4>
                      <h4 class="card-text">Start date: {{ education.start_date|date:"F j, Y" }}</h4>
                      {% if education.end_date is not None %}
                        <h4 class="card-text">End date: {{ education.end_date|date:"F j, Y" }}</h4>
                      {% endif %}
                      <h4 class="card-text">Description: {{ education.description }}</h4>
                      <a href="{{ education.get_absolute_url }}">
                        <span class="link-spanner-div-click"></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            {% else %}
              {% if forloop.counter0|divisibleby:"2" or forloop.first is True %}
                <div class="row my-2">
                  <div class="d-flex align-items-stretch col-xs-12 col-lg-6">
                    <div class="card">
                      <div class="card-body">
                        <h3 class="card-text">Institution: {{ education.name }}</h3>
                        <h4 class="card-text">Location: {{ education.location }}</h4>
                        <h4 class="card-text">Start date: {{ education.start_date|date:"F j, Y" }}</h4>
                        {% if education.end_date is not None %}
                          <h4 class="card-text">End date: {{ education.end_date|date:"F j, Y" }}</h4>
                        {% endif %}
                        <h4 class="card-text">Description: {{ education.description }}</h4>
                        <a href="{{ education.get_absolute_url }}">
                          <span class="link-spanner-div-click"></span>
                        </a>
                      </div>
                    </div>
                  </div>
              {% else %}
                <div class="d-flex align-items-stretch col-xs-12 col-lg-6">
                  <div class="card">
                    <div class="card-body">
                      <h3 class="card-text">Institution: {{ education.name }}</h3>
                      <h4 class="card-text">Location: {{ education.location }}</h4>
                      <h4 class="card-text">Start date: {{ education.start_date|date:"F j, Y" }}</h4>
                      {% if education.end_date is not None %}
                        <h4 class="card-text">End date: {{ education.end_date|date:"F j, Y" }}</h4>
                      {% endif %}
                      <h4 class="card-text">Description: {{ education.description }}</h4>
                      <a href="{{ education.get_absolute_url }}">
                        <span class="link-spanner-div-click"></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
        <div class="row mt-3 justify-content-center">
          <a href="{% url 'my_cv:education_index' %}" class="btn btn-secondary">View all education</a>
        </div>
      </div>
    {% endif %}

    {% if current_resume.experience.count > 0 %}
      <div class="tab-pane fade" id="list-experience" role="tabpanel" aria-labelledby="list-experience-list">
        <div class="row justify-content-center">
          <h1>Experience</h1>
        </div>
        {% for experience in current_resume.experience.all %}
          {% if current_resume.experience.count == 1 %}
            <div class="row my-2 justify-content-center">
              <div class="col-xs-12">
                <div class="card">
                  <div class="card-body">
                    <h3 class="card-text">Position title: {{ experience.position_title }}</h3>
                    <h4 class="card-text">Experience: {{ experience.name }}</h4>
                    <h4 class="card-text">Location: {{ experience.location }}</h4>
                    <h4 class="card-text">Description: {{ experience.description }}</h4>
                    <h4 class="card-text">Start date: {{ experience.start_date|date:"F j, Y" }}</h4>
                    {% if experience.end_date is not None %}
                      <h4 class="card-text">End date: {{ experience.end_date|date:"F j, Y" }}</h4>
                    {% endif %}
                    <a href="{{ experience.get_absolute_url }}">
                      <span class="link-spanner-div-click"></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          {% else %}
            {% if forloop.counter0|divisibleby:"2" or forloop.first is True %}
              <div class="row my-2">
                <div class="d-flex align-items-stretch col-xs-12 col-lg-6">
                  <div class="card">
                    <div class="card-body">
                      <h3 class="card-text">Position title: {{ experience.position_title }}</h3>
                      <h4 class="card-text">Experience: {{ experience.name }}</h4>
                      <h4 class="card-text">Location: {{ experience.location }}</h4>
                      <h4 class="card-text">Description: {{ experience.description }}</h4>
                      <h4 class="card-text">Start date: {{ experience.start_date|date:"F j, Y" }}</h4>
                      {% if experience.end_date is not None %}
                        <h4 class="card-text">End date: {{ experience.end_date|date:"F j, Y" }}</h4>
                      {% endif %}
                      <a href="{{ experience.get_absolute_url }}">
                        <span class="link-spanner-div-click"></span>
                      </a>
                    </div>
                  </div>
                </div>
            {% else %}
                <div class="d-flex align-items-stretch col-xs-12 col-lg-6">
                  <div class="card">
                    <div class="card-body">
                      <h3 class="card-text">Position title: {{ experience.position_title }}</h3>
                      <h4 class="card-text">Experience: {{ experience.name }}</h4>
                      <h4 class="card-text">Location: {{ experience.location }}</h4>
                      <h4 class="card-text">Description: {{ experience.description }}</h4>
                      <h4 class="card-text">Start date: {{ experience.start_date|date:"F j, Y" }}</h4>
                      {% if experience.end_date is not None %}
                        <h4 class="card-text">End date: {{ experience.end_date|date:"F j, Y" }}</h4>
                      {% endif %}
                      <a href="{{ experience.get_absolute_url }}">
                        <span class="link-spanner-div-click"></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
        <div class="row mt-3 justify-content-center">
          <a href="{% url 'my_cv:experience_outreach_index' %}" class="btn btn-secondary">View all experience</a>
        </div>
      </div>
    {% endif %}

    {% if current_resume.personal_links.count > 0 %}
      <div class="tab-pane fade" id="list-personal-links" role="tabpanel" aria-labelledby="list-personal-links-list">
        <div class="row justify-content-center">
          <h1>Personal Links</h1>
        </div>
        {% for link in current_resume.personal_links.all %}
          {% if current_resume.personal_links.count == 1 %}
            <div class="row my-2 justify-content-center">
              <div class="col-xs-12">
                <div class="card">
                  <div class="card-body">
                    <h3 class="card-text">Site name: {{ link.site_name }}</h3>
                    <a href="{{ link.url }}">
                      <span class="link-spanner-div-click"></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          {% else %}
            {% if forloop.counter0|divisibleby:"2" or forloop.first is True %}
              <div class="row my-2">
                <div class="d-flex align-items-stretch col-xs-12 col-lg-6">
                  <div class="card">
                    <div class="card-body">
                      <h3 class="card-text">Site name: {{ link.site_name }}</h3>
                      <a href="{{ link.url }}">
                        <span class="link-spanner-div-click"></span>
                      </a>
                    </div>
                  </div>
                </div>
            {% else %}
                <div class="d-flex align-items-stretch col-xs-12 col-lg-6">
                  <div class="card">
                    <div class="card-body">
                      <h3 class="card-text">Site name: {{ link.site_name }}</h3>
                      <a href="{{ link.url }}">
                        <span class="link-spanner-div-click"></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}

    {% if current_resume.skills %}
      <div class="tab-pane fade" id="list-skills" role="tabpanel" aria-labelledby="list-skills-list">
        <div class="row justify-content-center">
          <h1>Skills</h1>
        </div>
        <div class="row my-1 justify-content-center">
          <div class="col-xs-12 col-lg-6">
            <div class="card">
              <div class="card-body">
                <h4 class="card-text">{{ current_resume.skills }}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    {% if current_resume.interests %}
      <div class="tab-pane fade" id="list-interests" role="tabpanel" aria-labelledby="list-interests-list">
        <div class="row justify-content-center">
          <h1>Interests</h1>
        </div>
        <div class="row my-1 justify-content-center">
          <div class="col-xs-12 col-lg-6">
            <div class="card">
              <div class="card-body">
                <h4 class="card-text">{{ current_resume.interests }}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% else %}
  <p>No resume information currently available</p>
{% endif %}
