<div class="row mb-4 justify-content-center">
  <h1>Current Resumes</h1>
</div>
<div class="row">
  {% if current_resumes %}
    <div class="col-4">
      <div class="list-group" id="list-tab" role="tablist">
        {% for resume in current_resumes %}
          {% if forloop.first %}
            <a class="list-group-item list-group-item-action active" id="list-{{ resume.slug }}-list" data-toggle="list" href="#list-{{ resume.slug }}" role="tab" aria-controls="{{ resume.slug }}">{{ resume.resume_name }}</a>
          {% else %}
            <a class="list-group-item list-group-item-action" id="list-{{ resume.slug }}-list" data-toggle="list" href="#list-{{ resume.slug }}" role="tab" aria-controls="{{ resume.slug }}">{{ resume.resume_name }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="col-8">
      <div class="tab-content" id="nav-tabContent">
        {% for resume in current_resumes %}
          {% if forloop.first %}
            <div class="tab-pane fade show active" id="list-{{ resume.slug }}" role="tabpanel" aria-labelledby="list-{{ resume.slug }}-list">
              {% for education in resume.education.all %}
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-text">Education: {{ education.name }}</h4>
                    <h4 class="card-text">Location: {{ education.location }}</h4>
                    <h4 class="card-text">Description: {{ education.description }}</h4>
                    <h4 class="card-text">Start date: {{ education.start_date|date:"F j, Y" }}</h4>
                    {% if education.end_date is not None %}
                      <h4 class="card-text">End date: {{ education.end_date|date:"F j, Y" }}</h4>
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
              {% for experience in resume.experience.all %}
              <div class="card">
                <div class="card-body">
                  <h4 class="card-text">Position title: {{ experience.position_title }}</h4>
                  <h4 class="card-text">Experience: {{ experience.name }}</h4>
                  <h4 class="card-text">Location: {{ experience.location }}</h4>
                  <h4 class="card-text">Description: {{ experience.description }}</h4>
                  <h4 class="card-text">Start date: {{ experience.start_date|date:"F j, Y" }}</h4>
                  {% if experience.end_date is not None %}
                    <h4 class="card-text">End date: {{ experience.end_date|date:"F j, Y" }}</h4>
                  {% endif %}
                </div>
              </div>
              {% endfor %}
              <div class="card">
                <div class="card-body">
                  <h4 class="card-text">Location: {{ resume.location }}</h4>
                  <h4 class="card-text">Skills: {{ resume.skills }}</h4>
                  <h4 class="card-text">Interests: {{ resume.interests }}</h4>
                  <a href="{{ resume.get_absolute_url }}">
                    <span class="link-spanner-div-click"></span>
                  </a>
                </div>
              </div>
            </div>
          {% else %}
            <div class="tab-pane fade" id="list-{{ resume.slug }}" role="tabpanel" aria-labelledby="list-{{ resume.slug }}-list">
              {% for education in resume.education.all %}
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-text">Education: {{ education.name }}</h4>
                    <h4 class="card-text">Location: {{ education.location }}</h4>
                    <h4 class="card-text">Description: {{ education.description }}</h4>
                    <h4 class="card-text">Start date: {{ education.start_date|date:"F j, Y" }}</h4>
                    {% if education.end_date is not None %}
                      <h4 class="card-text">End date: {{ education.end_date|date:"F j, Y" }}</h4>
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
              {% for experience in resume.experience.all %}
              <div class="card">
                <div class="card-body">
                  <h4 class="card-text">Position title: {{ experience.position_title }}</h4>
                  <h4 class="card-text">Experience: {{ experience.name }}</h4>
                  <h4 class="card-text">Location: {{ experience.location }}</h4>
                  <h4 class="card-text">Description: {{ experience.description }}</h4>
                  <h4 class="card-text">Start date: {{ experience.start_date|date:"F j, Y" }}</h4>
                  {% if experience.end_date is not None %}
                    <h4 class="card-text">End date: {{ experience.end_date|date:"F j, Y" }}</h4>
                  {% endif %}
                </div>
              </div>
              {% endfor %}
              <div class="card">
                <div class="card-body">
                  <h4 class="card-text">Location: {{ resume.location }}</h4>
                  <h4 class="card-text">Skills: {{ resume.skills }}</h4>
                  <h4 class="card-text">Interests: {{ resume.interests }}</h4>
                  <a href="{{ resume.get_absolute_url }}">
                    <span class="link-spanner-div-click"></span>
                  </a>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% else %}
    <p>No resume information currently available</p>
  {% endif %}
</div>
