{% extends 'my_cv/index.html' %}
{% load static %}

{% block title %}
<title>Resumes Home</title>
{% endblock %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumb %}
    {{ block.super }}
    {% breadcrumb "All Resumes" "my_cv:all_resumes_index" %}
{% endblock %}


{% block content %}

<div class="container mt-5">
  <div class="row mb-4 justify-content-center resume-header-reveal load-hidden">
    <h1>All Resumes</h1>
  </div>
  {% if all_resumes %}
    <div class="row resume-reveal load-hidden">
      {% for resume in all_resumes %}
        {% if all_resumes|length == 1 %}
          <div class="col-xs-12 col-md-8 offset-md-2">
            <div class="card custom-resume-education-hover">
              <div class="card-body" style="height:165px;">
                <h3 class="card-title text-center">{{ resume.resume_name }}</h3>
                {% if resume.description %}
                  <h4 class="card-text">Description: {{ resume.description }}</h4>
                {% endif %}
                {% if resume.last_edited %}
                  <h4 class="card-text">Last edited: {{ resume.last_edited|date:"F j, Y" }}</h4>
                {% endif %}
                <a href="{{ resume.get_absolute_url }}">
                  <span class="link-spanner-div-click"></span>
                </a>
              </div>
            </div>
          </div>
        {% else %}
          <div class="d-flex align-items-stretch col-xs-12 col-md-6 p-2">
            <div class="card mb-4 custom-resume-education-hover">
              <div class="card-body" style="height:165px;">
                <h3 class="card-title text-center">{{ resume.resume_name }}</h3>
                {% if resume.description %}
                  <h4 class="card-text">Description: {{ resume.description }}</h4>
                {% endif %}
                {% if resume.last_edited %}
                  <h4 class="card-text">Last edited: {{ resume.last_edited|date:"F j, Y" }}</h4>
                {% endif %}
                <a href="{{ resume.get_absolute_url }}">
                  <span class="link-spanner-div-click"></span>
                </a>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% else %}
    <div class="row resume-reveal load-hidden justify-content-center">
      <div class="alert alert-info" role="alert">No resume information available at this time</div>
    </div>
  {% endif %}
</div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
  ScrollReveal().reveal('.resume-header-reveal', { delay: 500, duration: 700, easing: 'ease-in-out', useDelay: 'onload' });
  ScrollReveal().reveal('.resume-reveal', { delay: 750, duration: 700, easing: 'ease-in-out', useDelay: 'onload' });
</script>

{% endblock %}
