{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="My personal website">
  <meta name="author" content="Walker Sorlie">
  {% block title %}
  <title>Personal Site</title>
  {% endblock %}

  {% block favicon %}
  {% endblock %}

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'homepage/css/bootstrap.min.css' %}">

  <!-- Custom global css stylesheets -->
  <link rel="stylesheet" type="text/css" href="{% static 'global/css/scrollreveal.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'global/css/global.css' %}">

  {% block app_stylesheets %}
  <!-- Custom styles for this template -->
  <link rel="stylesheet" type="text/css" href="{% static 'homepage/css/album.css' %}">
  {% endblock %}

  <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>

</head>

<body>
  {% block header %}
  <header>
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">About</h4>
            {% if request.about_content_block %}
            <p class="text-muted">{{ request.about_content_block.body}}</p>
            {% endif %}
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-white">Contact</h4>
            <ul class="list-unstyled">
              <li><a href="https://www.linkedin.com/in/walkersorlie/" class="text-white" target="_blank">LinkedIn</a></li>
              <li><a href="mailto:walkersorlie@walkersorlie.com?subject=The%20subject" class="text-white">Email me</a></li>
              <li><a href="https://github.com/walkersorlie" class="text-white" target="_blank">GitHub</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-dark bg-dark shadow-sm nav-color load-hidden">
      <div class="container d-flex justify-content-between">
        <ul class="navbar-nav mr-auto" style="display:inline-block;">
          <li class="nav-item" style="display:inline-block;">
            <a href="{% url 'homepage:index' %}" class="nav-link navbar-brand d-flex">
              <strong>Home</strong>
            </a>
          </li>
          <li class="nav-item" style="display:inline-block;">
            <a href="{% url 'blog:index' %}" class="nav-link navbar-brand d-flex">
              <strong>Blog</strong>
            </a>
          </li>
          <li class="nav-item" style="display:inline-block;">
            <a href="{% url 'repositories:index' %}" class="nav-link navbar-brand d-flex">
              <strong>Repositories</strong>
            </a>
          </li>
          <li class="nav-item" style="display:inline-block;">
            <a href="{% url 'my_cv:index' %}" class="nav-link navbar-brand d-flex">
              <strong>Resume</strong>
            </a>
          </li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
  </header>

  {% endblock %}


<main role="main">
  <button onclick="topFunction()" id="topBtn" class="btn btn-outline-secondary button-top-reveal" title="Go to top">Back to Top</button>
  {% block content %}
  {% endblock %}
</main>

<footer class="footer">
  <div class="container">
    <p class="float-right">
      {% block footer_link %}
      <!-- <a href="#" class="btn btn-outline-secondary button-top-reveal" role="button">Back to top</a> -->
       <!-- <button onclick="topFunction()" id="topBtn" class="btn btn-outline-secondary button-top-reveal" style="display: none;" title="Go to top">Back to Top</button> -->
      {% endblock %}
    </p>
  </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="{% static 'jquery-slim.min.js' %}"><\/script>')</script>
<script src="{% static 'homepage/js/popper.min.js' %}"></script>
<script src="{% static 'homepage/js/bootstrap.min.js' %}"></script>
<script src="{% static 'homepage/js/holder.min.js' %}"></script>
<script type="text/javascript" src="{% static 'global/js/global.js' %}"></script>
{% block scripts %}
<script>
  ScrollReveal().reveal('.navbar', { duration: 700, easing: 'ease-in-out' });
</script>
{% endblock %}
</body>
</html>
